$primary-color:#f388cf;
$primary-text:#584bc4;
$secundary-text:#25ecdcd3;
$w-text: #fff;
$beauty-c: #a07173;
$b-color: #a24bc4;
$ye-color: rgb(183, 255, 215); 
$shm: 5px;
$sm: 15px;  
$md: 30px;
$lg: 45px;
