*{   /*selector universal */
    padding: 0;
    margin: 0;
     box-sizing:border-box; /*Ancho abarque padding y borde */
}
body{
    background-color: #bc8f8f;
    font-weight: bold;
    font-family:  'Helvetica';
    
}
.logo{
    width: 80px;
    float: left;
    padding: 8px;
}

#menu{
    width: 900px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

    }
header{
    background: #d3b3f2;
    width: 100%;
    clear: both; /* no tener elementos de izquierza a derecha*/
    display: table;/* los elementos flotantes hijos puedan */
    
}
 nav{         /* mover la posición a la derecha derecha */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;  
    height: 30px; 
}   
.tema{   
    list-style: none; 
    margin-left: 75px;
    padding: 5px 0;
    float: left; 
    position: relative;     
}
.designofmenu{  /* tambien puede ser nav ul li a estilo a los enlaces */
    font-size: 30px;    
    color:#584bc4;
    font-family: Franklin Gothic Medium;
    text-decoration: none;
    font-weight: bold;    
}
.designofmenu::before{    /* linea de texto */
    display: block;
    width: 0%;
    background: #444;
    height: 7px;
    top: 0;
    position: absolute;   
    content: '';
    transition: 0.2s;
}
.designofmenu:hover::before{  /* hover= dispositivo señalador */    
    width: 100%;    
}
 #Portada{
    height: 60vh;
    width: 100%;
    background-image: url("../images/Diseño1.png");
    background-position-x: center center;
    background-repeat: no-repeat;    
    background-size: 100% 100%;
    display: flex;
    justify-content: center;    
    text-align: center; 
    align-items: center;
    font-size: 25px; 
}
.container{
    width: 500px;
    display: grid;
    margin: 0 ;
}
.card{
    position: relative;
    width: 200px;
    height: 215px;
    background: #fff;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
}
.card:before,.card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fff;
    transition: 0.5s;
    z-index:-1; /* orden del elemento */
}
.card:hover:before{
    transform: rotate(20deg);
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card:hover:after{
    transform: rotate(10deg);
    box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card .imgCard{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: #222;
    transition: 0.5s;
    z-index: 1;
}
.card:hover .imgCard
  {
    bottom: 70px;
}

.card .imgCard img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card .details{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}
.card .details h2{
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 20px;
    color: #777;
    text-transform: uppercase;
} 
.card .details h3{
    font-weight: 500;
    font-size: 16px;
    color: #f38695;
    display: block;
    margin-top: 5px;
 } 