 @media (min-width: 320px) {
  
    .text{
    @include container(150px, 200px, pink, left);  
    }

 }

 /*@media (max-width: 1281px) {
  header{
      background-color: #f0b3f2; 
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  header{
      background-color: #d3f5e0; 
      height: 60px;
      }
   }

@media (min-width: 801px) and (max-width: 1024px) {
  header{
  background-color: #d7e1f7; 
  height: 58px;
  }
  }

@media (min-width: 481px) and (max-width: 767px) {
  header{
  background-color: #f7d7d7; 
  height: 70px;
  }
   
  }
@media (max-width: 480px ) {
  header{
  background-color: #d7f7f0; 
  height: 70px;
  }  
}
*/